@model ReportsProcatt.Models.Fund
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="@Model.rootStr/css/style.css">

</head>
<body>
    <img class="bg-slpash-1" src="@Model.rootStr/img/bg-splash-1.png">
    <img class="bg-slpash-2" src="@Model.rootStr/img/bg-splash-2.png">
    <img class="bg-slpash-3" src="@Model.rootStr/img/bg-splash-3.png">
    <script src="@Model.rootStr/js/moment.min.js"></script>
    <script src="@Model.rootStr/js/Chart.min.js"></script>
    <script type="text/javascript">
        var Charts = [];
        (function (setLineDash) {
            CanvasRenderingContext2D.prototype.setLineDash = function () {
                if (!arguments[0].length) {
                    arguments[0] = [1, 0];
                }
                // Now, call the original method
                return setLineDash.apply(this, arguments);
            };
        })(CanvasRenderingContext2D.prototype.setLineDash);
        Function.prototype.bind = Function.prototype.bind || function (thisp) {
            var fn = this;
            return function () {
                return fn.apply(thisp, arguments);
            };
        };
    </script>
    @Html.Partial("_PartialPIF", Model.PIF)

    <table class="section text-block">
        <tbody>
            <tr>
                <td>

                    <table class="section-wrapper">

                        <tbody>
                            <tr>
                                <td class="bottom-text-wrap">
                                    <p>
                                        Указанная в настоящем Отчете информация не является исчерпывающей и подготовлена исключительно в информационных целях и носит ознакомительный характер; доходность по Вашему портфелю рассчитана индивидуально с учетом всех операций за выбранный период. Относительная доходность за период рассчитывается, как инвестиционный доход за период, в валюте ожидаемой доходности деленный на средневзвешенную оценочную стоимость активов с начала отчетного периода, в валюте ожидаемой доходности.
                                        Подробную информацию о деятельности АО УК «Ингосстрах – Инвестиции» и паевых инвестиционных фондов, находящихся под ее управлением, включая тексты правил доверительного управления, всех изменений и дополнений к ним, а также сведения о местах приема заявок на приобретение, погашение и обмен инвестиционных паев Вы можете получить по адресу 115035, г. Москва, ул. Пятницкая, д. 12, стр. 2, по телефону: (495) 720-48-98, а также на официальном сайте АО УК «Ингосстрах – Инвестиции» в сети Интернет по адресу: www.ingosinvest.ru.
                                        Услуги по доверительному управлению оказываются Акционерным обществом Управляющая компания «Ингосстрах - Инвестиции». Лицензия профессионального участника рынка ценных бумаг на осуществление деятельности по управлению ценными бумагами № № 077-08203-001000 от 23.12.2004 выдана ФСФР России (без ограничения срока действия).
                                        Результаты инвестирования в прошлом не определяют и не являются гарантией доходности инвестирования в будущем. Стоимость активов может как увеличиваться, так и уменьшаться. До заключения договора необходимо внимательно ознакомиться с его условиями, в том числе с декларацией о рисках.
                                        Лицензия ФКЦБ России № 21-000-1-00020 от 25.08.1997 на осуществление деятельности по управлению инвестиционными фондами, паевыми инвестиционными фондами и негосударственными пенсионными фондами (без ограничения срока действия). Стоимость инвестиционных паев может увеличиваться и уменьшаться, результаты инвестирования в прошлом не определяют доходы в будущем, государство не гарантирует доходность инвестиций в паевые инвестиционные фонды. При приобретении (погашении) инвестиционных паев фондов может взиматься надбавка (скидка), которая уменьшает доходность инвестирования, информация о предусмотренных скидках (надбавках) содержится в правилах доверительного управления соответствующим фондом. Прежде чем приобрести инвестиционный пай паевого инвестиционного фонда, следует внимательно ознакомиться с правилами доверительного управления фондом. При определении прироста расчетной стоимости инвестиционного пая не учитываются надбавки к расчетной стоимости инвестиционных паев при их выдаче и скидки с расчетной стоимости инвестиционных паев при их погашении.
                                        Индикативные данные о стоимости финансовых инструментов в рамках договоров доверительного управления ценными бумагами, указанные в соответствии с доступными на момент запроса данными информационных систем представлены исключительно в информационно-справочных целях, не являются официальными данными (значениями), подлежащими предоставлению в рамках договора доверительного управления, и не могут свидетельствовать о результатах сделок и (или) оценочной стоимости представленных инструментов в соответствии с условиями договора. Официальные данные содержатся в Отчете о деятельности Управляющей компании за отчетный период и предоставляются клиенту в порядки и сроки, предусмотренные условиями договора доверительного управления.
                                    </p>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>
    <script type="text/javascript">
        window.onload = function () {
            for (i = 0; i < Charts.length; i++) {
                Charts[i]();
            }
        };
    </script>
</body>
</html>
