@model ReportsProcatt.Models.ChartDiagramClass
@{ 
    int len = Model.DataSets[0].data.Max(t => Math.Abs(Math.Round(t.value))).ToString().Length;
    len = Math.Max(len, Model.DataSets[1].data.Max(t => Math.Abs(Math.Round(t.value))).ToString().Length);
}
<div class="line-chart-wrap">
    <div class="reportGraph column-graph">
        <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
        <canvas width="1256" height="172" id="@Model.ElementName"></canvas>
        <div class="column-graph-legend column-graph-legend-bottom" style="padding-left:@Html.Raw(20+len*10)px">
            <ul>
            @foreach (var lbl in Model.Lables)
            {
                <li>@lbl</li>
            }
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">

    Charts.push(
        function () {
            new Chart(document.getElementById("@Model.ElementName"), {
                "type": 'bar',
                "data": {
                    "labels": [@Html.Raw(string.Join(",", Model.Lables.Select(l => $"\"{l}\"").ToArray()))],
                    "datasets": [
                        {
                            "label": '@Html.Raw(Model.DataSets[0].lable)',
                            "fill": false,
                            "data": [@Html.Raw(string.Join(",",Model.DataSets[0].data.Select(d => d.value).ToArray()))],
                            "backgroundColor": '@Model.DataSets[0].backgroundColor',
                            "borderColor": [@Html.Raw(string.Join(",",Model.DataSets[0].data.Select(d => $"'{d.borderColor}'").ToArray()))],
                            "borderWidth": 1
                        },
                        {
                            "label": '@Html.Raw(Model.DataSets[1].lable)',
                            "fill": false,
                            "data": [@Html.Raw(string.Join(",",Model.DataSets[1].data.Select(d => d.value).ToArray()))],
                            "backgroundColor": '@Model.DataSets[1].backgroundColor',
                            "borderColor": [@Html.Raw(string.Join(",",Model.DataSets[1].data.Select(d => $"'{d.borderColor}'").ToArray()))],
                            "borderWidth": 1
                        },]
                },
                "options": {
                    
                    "scales": {
                        "yAxes": [{
                            "ticks": {
                                "color": "#3E4E65",
                                "fontSize": 12,
                                "padding": 20,
                                "fontStyle": 'bolder',
                                "fontFamily": 'MuseoSans',
                                "beginAtZero": true
                            },
                            "gridLines": {
                                "tickMarkLength": 18,
                                "lineWidth": 2,
                                "color": "#6BA3C2",
                                "zeroLineColor": "#6BA3C2",
                                "display": false
                            }
                        }],
                        "xAxes": [{
                            "ticks": {
                                "display": false
                            },
                            "gridLines": {
                                "tickMarkLength": 18,
                                "lineWidth": 2,
                                "color": "#6BA3C2",
                                "zeroLineColor": "#6BA3C2",
                                "display": false
                            }
                        }],
                    },

                    "animation": {"duration" : 0},

                    "title": {
                        "display": false
                    },
                    "responsive": true,
                    "legend": {
                        "display": false
                    }
                }
            });
        }
    );
</script>