@model ReportsProcatt.Models.CircleDiagram

<div class="canvas-holder">

    <div class="dougnhutGraph-wrap">
        <div class="reportGraph dougnhutGraph">
            <canvas id="@Model.ElementName" style="width: 310px;height: 300px;" width="310" height="300"></canvas>
        </div>

        <div class="chart-legend">
            <span>@Model.LegendName</span>

            <ul class="legend-list">

            @foreach (var data in Model.Data)
            {
                <li style="--theme-color:@data.backgroundColor">
                    <span style="background-color:@data.backgroundColor">.....</span>@data.lable<small style="color:@data.backgroundColor">@data.result</small>
                </li>
            }
            </ul>

        </div>

        <div class="label-text">
            <span>@Html.Raw(Model.MainText)<br></span>
            @Html.Raw(Model.Footer)
        </div>
    </div>
</div>
<script type="text/javascript">

Charts.push(
    function () {
        new Chart(
            document.getElementById("@Model.ElementName"), {
            "responsive": true,
            "type": "doughnut",
            "data": {
                "labels": [@Html.Raw(string.Join(",", Model.Data.Select(l => $"'{l.lable}'").ToArray()))],
                "datasets": [
                    {
                        "label": "@Model.ElementName",
                        "data": [@Html.Raw(string.Join(",", Model.Data.Select(l => l.data).ToArray()))],
                        "backgroundColor": [@Html.Raw(string.Join(",", Model.Data.Select(l => $"'{l.backgroundColor}'").ToArray()))],
                        "fill": true,
                        "borderColor": [@Html.Raw(string.Join(",", Model.Data.Select(l => $"'{l.borderColor}'").ToArray()))],
                        "lineTension": 0.1
                    }]
            },
            "options": {
                "cutoutPercentage": 68,
                "animation": {
                    "animateScale": false,
                    "animateRotate": false
                },
                "responsive": true,
                "maintainAspectRatio": false,
                "legend": {
                    display: false
                }
            }
        }
        );
    }
)
</script>