@using ReportsProcatt.Models;
@model Dictionary<string, string>;

<table class="section graph-section">
    <tr>
        <td>

            <table class="section-wrapper">
                <tbody>
                    <tr>

                        <td class="progression-graph">

                            <div class="progression-wrap">

                                <div class="progression-item-text">
                                    <p>@MainDiagramParams.Begin</p>
                                    <span>@Model[MainDiagramParams.Begin]</span>
                                </div>

                                <div class="progression-item-text progression-top">
                                    <p>@MainDiagramParams.InVal</p>
                                    <span>@Model[MainDiagramParams.InVal]</span>
                                </div>

                                <div class="progression-item-text">
                                    <p>@MainDiagramParams.OutVal</p>
                                    <span>@Model[MainDiagramParams.OutVal]</span>
                                </div>

                                <div class="progression-item-text progression-top">
                                    <p>@MainDiagramParams.Dividents</p>
                                    <span>@Model[MainDiagramParams.Dividents]</span>
                                </div>

                                <div class="progression-item-text progression-top">
                                    <p>@MainDiagramParams.Coupons</p>
                                    <span>@Model[MainDiagramParams.Coupons]</span>
                                </div>

                                @*<div class="progression-item-text progression-top">
                                    <p>Переоценка</p>
                                    <span>@Model[MainDiagramParams.ReVal]</span>
                                </div>*@

                                <div class="progression-item-text">
                                    <p>@MainDiagramParams.OutVal1</p>
                                    <span>@Model[MainDiagramParams.OutVal1]</span>
                                </div>

                                <div class="progression-item-text">
                                    <p>@MainDiagramParams.End</p>
                                    <span>@Model[MainDiagramParams.End]</span>
                                </div>

                            </div>

                        </td>

                    </tr>
                </tbody>
            </table>

        </td>
    </tr>
</table>