@model ReportsProcatt.Models.Report
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="@Model.rootStr/css/style.css">
</head>
<body>

    <img class="bg-slpash-1" src="@Model.rootStr/img/bg-splash-1.png">
    <img class="bg-slpash-2" src="@Model.rootStr/img/bg-splash-2.png">
    <img class="bg-slpash-3" src="@Model.rootStr/img/bg-splash-3.png">
    @*<script src="@Model.rootStr/js/Chart.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script type="text/javascript">
        var Charts = [];
        (function (setLineDash) {
            CanvasRenderingContext2D.prototype.setLineDash = function () {
                if (!arguments[0].length) {
                    arguments[0] = [1, 0];
                }
                // Now, call the original method
                return setLineDash.apply(this, arguments);
            };
        })(CanvasRenderingContext2D.prototype.setLineDash);
        Function.prototype.bind = Function.prototype.bind || function (thisp) {
            var fn = this;
            return function () {
                return fn.apply(thisp, arguments);
            };
        };
    </script>
    @*Шапка*@
    <table class="section header">
        <tr>
            <td>
                <table class="section-wrapper">
                    <tbody>
                        <tr>

                            <td class="left-td">
                                <a href="/">
                                    <img src="@Model.rootStr/img/logo.svg">
                                </a>
                            </td>

                            <td class="right-td">
                                <span>ОТЧЕТ ПО ПОРТФЕЛЮ</span>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </table>
    @*Основной блок*@
    <table class="section assets-section">
        <tr>
            <td>

                <table class="section-wrapper">
                    <tbody>
                        <tr>

                            <td class="asset-block">
                                <p>Сумма активов на дату окончания периода</p>

                                <span>@Model.MainHeader.TotalSum</span>
                            </td>
                            <td width="20px"></td>
                            <td class="second-asset-block">
                                <p>Текущий финансовый результат</p>

                                <span>@Model.MainHeader.ProfitSum</span>
                            </td>
                            <td width="20px"></td>
                            <td class="second-asset-block">
                                <p>Относительная доходность</p>

                                <span>@Model.MainHeader.Return</span>
                            </td>

                            <td width="220px"></td>

                            <td valign="top">
                                <table class="asset-additional-table">
                                    <tr>
                                        <td class="second-asset-block asset-end-block">
                                            <p>Период</p>

                                            <span>@Model.Period</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </table>
    @*Основная диаграмма*@
    <table class="section block-heading">
        <tr>
            <td>

                <table class="section-wrapper">
                    <tbody>
                        <tr>

                            <td class="left-td heading-td">
                                <span>Изменение активов за период</span>
                            </td>

                            <td class="right-td heading-td">
                                <span>Валюта: @Model.ReportCurrency.Code</span>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </table>

    @Html.Partial("_PartialMainDiagram", Model.MainDiagram)

    <div class="keep-together">

        <table class="section block-heading">
            <tbody>
                <tr>
                    <td>

                        <table class="section-wrapper">
                            <tbody>
                                <tr>

                                    <td class="left-td heading-td">
                                        <span>Все активы</span>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
            </tbody>
        </table>

        @Html.Partial("_PartialTableView", Model.AllAssets)

    </div>
    @if (Model.PIFsTotals.Table.Rows.Count > 0)
    {
        @Html.Partial("_PartialTableView", Model.PIFsTotals)
    }

    @if (Model.DUsTotals.Table.Rows.Count > 0)
    {
        @Html.Partial("_PartialTableView", Model.DUsTotals)
    }

    <table class="section text-block">
        <tbody>
            <tr>
                <td>

                    <table class="section-wrapper">

                        <tbody>
                            <tr>
                                <td class="text-wrap">
                                    <p>
                                        * - Указанная в настоящем Отчете информация не является исчерпывающей и подготовлена исключительно в информационных целях и носит ознакомительный характер; доходность по Вашему портфелю рассчитана индивидуально с учетом всех операций за выбранный период. <br>

                                        Подробную информацию о деятельности АО УК «Ингосстрах – Инвестиции» и паевых инвестиционных фондов, находящихся под ее управлением, включая тексты правил доверительного управления, всех изменений и дополнений к ним, а также сведения о местах приема заявок на приобретение, погашение и обмен инвестиционных паев Вы можете получить по адресу 115035, г. Москва, ул. Пятницкая, д. 12, стр. 2, по телефону: (495) 720-48-98, а также на официальном сайте АО УК «Ингосстрах – Инвестиции» в сети Интернет по адресу: <a href="https://www.ingosinvest.ru">www.ingosinvest.ru</a>. <br>
                                    </p>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>

    @*Дививденды и купоны*@
    <div class="keep-together">
        <table class="section block-heading">
            <tr>
                <td>

                    <table class="section-wrapper">
                        <tbody>
                            <tr>

                                <td class="left-td heading-td">
                                    <span>Дивиденды и купоны</span>
                                </td>

                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </table>
        @Html.Partial("_PartialTableView", Model.DivsNCoupons)
    </div>

    @*Фактические выплаты дивидендов и купонов*@
    <div class="keep-together">
        <table class="section block-heading">
            <tr>
                <td>

                    <table class="section-wrapper">
                        <tbody>
                            <tr>

                                <td class="left-td heading-td">
                                    <span>Фактические выплаты дивидендов и купонов</span>
                                </td>

                                <td class="right-td heading-td">
                                </td>

                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </table>

        <table class="section line-chart-section">
            <tbody>
                <tr>
                    <td>

                        <table class="section-wrapper">
                            <tbody>
                                <tr>

                                    <td>

                                        @Html.Partial("_PartialChartDiagram", Model.DivsNCouponsChart)

                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @*Детализация купонов и дивидендов*@
    <div class="keep-together">
        <table class="section block-heading">
            <tr>
                <td>

                    <table class="section-wrapper">
                        <tbody>
                            <tr>

                                <td class="left-td heading-td">
                                    <span>Детализация купонов и дивидендов</span>
                                </td>

                                <td class="right-td heading-td">
                                </td>

                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </table>

        @Html.Partial("_PartialTableView", Model.DivsNCouponsDetails)
    </div>

    @*Структура активов в портфеле*@
    <div class="keep-together">
        <table class="section block-heading print-pt50">
            <tbody>
                <tr>
                    <td>

                        <table class="section-wrapper">
                            <tbody>
                                <tr>

                                    <td class="left-td heading-td">
                                        <span>Структура активов в портфеле</span>
                                    </td>

                                    <td class="right-td heading-td">
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
            </tbody>
        </table>
        <table class="section doughnut-section info-table-section">
            <tr>
                <td>

                    <table class="section-wrapper">
                        <tbody>
                            <tr>
                                <td class="canvas-td">
                                    <div class="canvas-wrap">

                                        <div class="canvas-row">

                                            @Html.Partial("_PartialCircleDiagram", Model.Assets)

                                            @Html.Partial("_PartialCircleDiagram", Model.Instruments)

                                        </div>


                                        <div class="canvas-row">

                                            <div class="canvas-item">

                                                @Html.Partial("_PartialCircleDiagram", Model.Currencies)

                                            </div>

                                        </div>


                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </table>
    </div>

    <div style="page-break-before: always;"></div>

    @foreach (var pif in Model.PIFs)
    {
        @Html.Partial("_PartialPIF", pif)
        <div style="page-break-before: always;"></div>
    }

    @foreach (var du in Model.DUs)
    {
        @Html.Partial("_PartialDU", du)
        <div style="page-break-before: always;"></div>
    }

    <script type="text/javascript">
        window.onload = function () {
            for (i = 0; i < Charts.length; i++) {
                Charts[i]();
            }
        };
    </script>
</body>
</html>